.img-circle {
	margin: auto;
	margin-bottom: 30px;
}

h1 {
	text-align: center;
}

.row {
	margin-top: 30px;
}

#header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #33adff;
	letter-spacing: 2px;
}

#plebian {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ff6666
}